
*{
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

.star {
    height: 40px;
    width: 40px;
    background-color: hsl(214, 22%, 23%);
    border-radius: 50%;
    padding: 0.8em;
    margin-top: 7px;
}

body {
    background-color: hsl(216, 12%, 8%);
    margin: 1.5rem;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.main-container, .ty-container {
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    width: 380px;
    height: auto;
    margin: auto;
    padding: 20px 25px;
}



h1, h2 {
    color: hsl(0, 0%, 100%);
    font-size: 30px;
    font-weight: 400;
}

p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
}

#rating-menu {
    list-style: none;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
}

#rating-menu li {
    display: inline;
}

.btn {
    background-color: hsl(214, 22%, 23%);
    border: none;
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
    margin: 7px 5px;
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    padding-top: 0.2rem;
    transition: 0.3s;
}

.btn:hover {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.btn:focus {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.btn-submit {
    background-color: hsl(25, 97%, 53%, 80%);
    border: none;
    border-radius: 1.5em;
    color: hsl(0, 0%, 100%, 80%);
    font-size: 17px;
    text-align: center;
    letter-spacing: 0.1rem;
    width: 19.3em;
    height: 2.5em;
    font-weight: 400;
    cursor: pointer;
    padding-top: 0.2rem;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
    transition: 0.3s;
}

.btn-submit:hover {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.ty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ty-container h2 {
    margin: 15px;
}

.ty-container p {
    margin: 0 0 20px;
}

.ty-container .result-line {
    color: hsl(25, 97%, 53%);
    background-color: hsl(214, 22%, 23%);
    border-radius: 30px;
    padding: 5px 10px;
    margin-top: 40px;
}

.hidden {
    display: none;
}

footer { 
    font-size: 12px;
    font-weight: 400;
    color: hsl(0, 0%, 100%);
    text-align: center;
    text-decoration: none;
    margin: 20px;
}
    
footer a { 
    text-decoration: none; 
}