.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

*{
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: hsl(216, 12%, 8%);
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-auto-flow: row;
    overflow-x: hidden;
}

.main-container {
    background-color: hsl(213, 19%, 18%);
    border-radius: 20px;
    width: 380px;
    height: 350px;
    margin: auto;
    padding: 20px 25px;
    
    
}

h1 {
    color: hsl(0, 0%, 100%);
    font-size: 30px;
    font-weight: 400;
}

p {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
}

#rating-menu {
    list-style: none;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
}

#rating-menu li {
    display: inline;
}

.btn {
    background-color: hsl(214, 22%, 23%);
    border: none;
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 7px;
    margin-bottom: 7px;
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.btn:hover {
    background-color: hsl(217, 12%, 63%);
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.btn:focus {
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
}

.btn-submit {
    background-color: hsl(25, 97%, 53%);
    border: none;
    border-radius: 1.5em;
    color: hsl(0, 0%, 100%);
    font-size: 17px;
    text-align: center;
    width: 19.3em;
    height: 2.5em;
    font-weight: 400;
    cursor: pointer;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
}